body {
  height: 100%;
  background-image: url(/images/asset/overlay.png),url(/images/asset/background.jpg);
}

.container {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#login-card {
  width: 30rem;
  padding-top: 5%;
  /* border-radius: 7%; */
  /* padding-left: 10%;
  padding-right: 10%; */
  
}

.login-button {
  position: relative;
}

.navbar-text {
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
}