<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index_style.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="773865792273-bmfeq59m4ngolie007m7sgmgneourc7s.apps.googleusercontent.com">
    <link rel="icon" href="https://www.it.kmitl.ac.th/wp-content/uploads/2017/12/cropped-it-logo-180x180.png">

    <title>AWS Resource Management | IT KMITL</title>
</head>
<body>
    
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm">
            
          </div>
          <div class="col-sm">
            <div class="card text-center shadow-lg p-4 mb-5 rounded" id="login-card">
                <img src="/images/asset/nav-thai.svg" class="card-img-top" alt="IT-KMITL-Logo">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">AWS Resource Management System | IT KMITL</li>
                        <li class="list-group-item"><div id="my-signin2"></div></li>
                        <li class="list-group-item text-muted">Use KMITL Account to Sign in</li>
                </div>
              </div>
          </div>
          <div class="col-sm">
            
          </div>
        </div>
      </div>
    <nav class="navbar text-center fixed-bottom navbar-light bg-light ">
        <span class="navbar-text">
            Developed By Super Junior
        </span>
    </nav>
    
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.22.1/firebase-database.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.766.0.min.js"></script>
    <script type="text/javascript">
      var clientID = '773865792273-bmfeq59m4ngolie007m7sgmgneourc7s.apps.googleusercontent.com'; // Google client ID
      var roleArn = 'arn:aws:iam::900677921532:role/googleIdentity';
      function onSuccess(googleUser) {
          var name = googleUser.getBasicProfile().getName();
          var email = googleUser.getBasicProfile().getEmail();
          var id_token = googleUser.getAuthResponse().id_token;
          
          // Add the Google access token to the Amazon Cognito credentials login map.
          AWS.config.region = 'ap-southeast-1'; // Region
          AWS.config.credentials = new AWS.CognitoIdentityCredentials({
              IdentityPoolId: 'ap-southeast-1:71ff44b8-44ce-4db4-9770-21fc33249a21',
              Logins: {
              'accounts.google.com': String(id_token)
              }
          });
          
          // Save user data on Firebase Database
          var config = {
              apiKey: "AIzaSyD_jLPkUWTOE0CdwQyk7oY90SS_TvV8-SE",
              authDomain: "aws-resource-management-e968b.firebaseapp.com",
              databaseURL: "https://aws-resource-management-e968b.firebaseio.com",
              storageBucket: "aws-resource-management-e968b.appspot.com"
          };
          firebase.initializeApp(config);
          
          var dbRefUser = firebase.database().ref().child('user');
          var dbRefId = dbRefUser.child('id')
          dbRefId.set({
              name: name,
              email: email,
              token: id_token
          });

          dbRefUser.once("value", function(snapshot) {
              snapshot.forEach(function(childSnapshot) {
              var childData = childSnapshot.val().name;
              console.log(childData);
              });
          });
          var instanceParams = {
          ImageId: 'ami-0cd31be676780afa7', 
          InstanceType: 't2.micro',
          KeyName: 'ec2-keypair',
          MinCount: 1,
          MaxCount: 1,
          TagSpecifications: [
                  {
                      ResourceType:'instance',
                      Tags: [
                          {
                              Key: 'StudentID',
                              Value: '60070060'
                          }
                      ]
                  }
              ]
          };
          var ec2 = new AWS.EC2({apiVersion: '2016-11-15'})
          var instancePromise = new AWS.EC2({apiVersion: '2016-11-15'}).runInstances(instanceParams).promise();
      }
      function onFailure(error) {
          console.log(error);
      }
      function renderButton() {
          gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 350,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
          });
      }
  </script>
  
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>